alias ls='lsd'
alias ll='lsd -l'
alias la='lsd -a'
alias lla='lsd -la'
alias lt='lsd --tree'
alias xargs='gxargs'
alias r='bundle exec bin/rails'
alias be='bundle exec'
alias rrg='find . -path ./.git -prune -type f -o -path ./log -prune -type f -o -path ./tmp -prune -type f -o -path ./db -prune -type f -o -type f -print0|xargs -0 grep'
alias g='git'
alias doc='docker'
if [[ -x `which colordiff` ]]; then
   alias diff=colordiff -u
fi
alias E='emacsclient -n --alternate-editor="open -a Emacs"'
alias code="/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code"
alias A='open -n /Applications/Alacritty.app'
alias find='gfind'
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias chromium="/Applications/Chromium.app/Contents/MacOS/Chromium"

alias androidemulator="pushd ~/Library/Android/Sdk/emulator && ./emulator -avd Nexus_5X_API_28_x86 & popd"
alias ibrew='arch -x86_64 /usr/local/bin/brew'
alias jq=jnv
