[user]
	email = katsusuke@gmail.com
	name = Katsusuke Shimizu
[color]
	ui = auto
[core]
	editor = /Applications/Emacs.app/Contents/MacOS/Emacs
	quotepath = false
	excludesfile = ~/.gitignore
	precomposeunicode = true
	autocrlf = false
[rebase]
	autostash = true
[push]
	default = simple
[alias]
	log-graph = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format-local:'%Y/%m/%d %H:%M:%S'
	gsub = !git-gsub.rb
        rename-migration = !rename_migration.rb
	s = status
	d = diff
	c = commit
        push-f = push --force-with-lease
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pager]
	log = diff-highlight|less -c
	show = diff-highlight|less -c
	diff = diff-highlight|less -c
[ghq]
	root = ~/git
[secrets]
[init]
	templatedir = ~/.git-templates/git-secrets

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	compactionHeuristic = true
[merge]
	ff = only
