/.config/configstore
/.config/gtk-2.0/gtkfilechooser.ini
/.config/htop/htoprc
/.config/wireshark/preferences
# for visual studio
/.config/NuGet
/.config/stetic
/.config/xbuild
/.config/gatsby
/.config/yarn
/.config/Microsoft\\VisualStudio\ Services/8.0/cache
/.config/.mono/
/.config/fish/fishd.*
/.config/fish/fish_history
/.config/flutter
/.config/flameshot
/.config/gcloud
/.config/github-copilot
/.config/simple-update-notifier
/.config/sonic-pi.net
/.config/go/temporary
/.config/chromium/
/.config/dconf/
/.config/go/
/.config/kanshi/
/.config/labwc/
/.config/lxterminal/
/.config/pulse/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/wf-panel-pi.ini
/.config/xsettingsd/
/.config/uv/uv-receipt.json
