/.config/configstore
/.config/gtk-2.0/gtkfilechooser.ini
/.config/htop/htoprc
/.config/wireshark/preferences
# for visual studio
/.config/NuGet
/.config/stetic
/.config/xbuild
/.config/gatsby
/.config/yarn
/.config/Microsoft\\VisualStudio\ Services/8.0/cache
/.config/.mono/
/.config/fish/fishd.*
/.config/fish/fish_history
